@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Ivan Aramazov<br />
    Phone: +359 087 666 0488
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ivan.aramazov@gmail.com">ivan.aramazov@gmail.com</a><br />
</address>